# ECON 1923 CPI Project
## Created by: Gloria Dou, Peter Martin, and Kavya Singh

## 2 Definition of the Index
### 2.1 Items and weights

Products, services and their mix should be decided. Your basket must include at least 8 ingredients. Your choice should be justified. Use the online and other resources to build a reasonable basket of goods that represents, in your opinion, students. There are no correct or incorrect answers, I am looking for a well justified answer.

### 2.2 Locations and weights
The locations where these prices are measured. List at least three locations based on where the team members either live now, lived in the past, or want to live in the future.2 Choose weights for these locations according to your liking.

### 2.3 Finalizing the basket
Combining the choices of items and locations, find all the series names assign a weight for each series that combines the weights that you chose for the items and the weights you chose for the locations.

https://docs.google.com/document/d/1Rb8_QNXB3ybjHzDLKQBadFX2rS7RIILdCIdtplUyxg4/edit

- Everyone’s github User ID:
    - Kavya: kavyas01
    - Gloria: GloDDD
    - Peter: mpaertteirn

- Group of products, services, etc. that students would use (minimum 8): Click [here](https://www.bls.gov/news.release/cpi.t07.htm#cpipress7.f.4) to get a better understanding of what falls under each item group **We might want to reweight the items**
    - Meats, poultry, fish, and eggs (SAF112) [0.20]
    - Fruits and Vegetables (SAF113) [0.20]
    - Nonalcoholic beverages and beverage materials	(SAF114) [0.15] 
    - Alcoholic beverages (SAF116) [0.10] 
    - Apparel (SAA) [0.10] 
    - Education and communication commodities (SAEC) [0.04] 
    - Recreation (SAR) [0.01] 
    - Rent of Primary  Residence (SEHA) [0.20]

- Three locations: *I looked of region demographics on Pitt students, selected the three largest region by percentage, and then normalized them to equal 1.*
    - Mid Atlantic 0120 (NJ, NY, PA) [.8474]
    - South Atlantic 0350 (DC, DE, FL, GA, MD, NC, SC, VA, WV) [.0904]
    - East North Central 0230 (IL, IN, MI, OH, WI) [.0622]

In [1]:
# Importing packages
import requests
import json
import pandas as pd

# NOTE: Be sure that the key python function is in the same folder, otherwise use relative address paths
%run APIkeys.py 
key = os.environ['BLS_API_key']

In [2]:
def multiSeriesV3(varList,myKey):
    base_url = 'https://api.bls.gov/publicAPI/v2/timeseries/data/'  #this will not change
    headers = {'Content-type': 'application/json'}  #This will not changed !

    parameters = {
        "seriesid":varList,
        "startyear":"2017", 
        "endyear":"2022",
        "catalog":True, 
        "calculations":False, 
        "annualaverage":False,
        "aspects":False,
        "registrationkey": myKey 
     }

    data = json.dumps(parameters) #this converts the Python dictionary into a JSON format
    
    p = requests.post(base_url, data=data, headers=headers)
    json_data = json.loads(p.text)
    
    n = len(varList) #number of series requested
    
    new_df = pd.DataFrame(columns=['year', 'period'])
    for item in range(n):
        if json_data['Results']['series'][item]['data'] == []:
            print('Series ',varList[item],' does not exist')
        else:
            print('Series ',varList[item],' exists')
            d = json_data['Results']['series'][item]['data']
            current_df = pd.DataFrame(data=d)
            current_df = current_df[["year","period","value"]]
            current_df = current_df.rename(columns = {"value":varList[item]})
            new_df = new_df.merge(current_df, on = ['year','period'],how='outer')
    
    return new_df

In [3]:
#This is a code to just make the basket array more easily updatable if needed

Base_ID = 'CUUR'
           #MidAtl  SoAtl   ENC
Area_ID = ['0120', '0350', '0230']
           #Meat.     F&V.      Bevs.     Alc.      Apprl. Ed&Com  Rec.   Rent
Item_ID = ['SAF112', 'SAF113', 'SAF114', 'SAF116', 'SAA', 'SAEC', 'SAR', 'SEHA']

basket = ['CUUR0000SA0'] #General CPI ID in vector, which we add other IDs

for i in Area_ID:
    for j in Item_ID:
        basket.append(Base_ID+i+j)

basket

['CUUR0000SA0',
 'CUUR0120SAF112',
 'CUUR0120SAF113',
 'CUUR0120SAF114',
 'CUUR0120SAF116',
 'CUUR0120SAA',
 'CUUR0120SAEC',
 'CUUR0120SAR',
 'CUUR0120SEHA',
 'CUUR0350SAF112',
 'CUUR0350SAF113',
 'CUUR0350SAF114',
 'CUUR0350SAF116',
 'CUUR0350SAA',
 'CUUR0350SAEC',
 'CUUR0350SAR',
 'CUUR0350SEHA',
 'CUUR0230SAF112',
 'CUUR0230SAF113',
 'CUUR0230SAF114',
 'CUUR0230SAF116',
 'CUUR0230SAA',
 'CUUR0230SAEC',
 'CUUR0230SAR',
 'CUUR0230SEHA']

In [4]:
myData = multiSeriesV3(basket,key)

Series  CUUR0000SA0  exists
Series  CUUR0120SAF112  exists
Series  CUUR0120SAF113  exists
Series  CUUR0120SAF114  exists
Series  CUUR0120SAF116  exists
Series  CUUR0120SAA  exists
Series  CUUR0120SAEC  exists
Series  CUUR0120SAR  exists
Series  CUUR0120SEHA  exists
Series  CUUR0350SAF112  exists
Series  CUUR0350SAF113  exists
Series  CUUR0350SAF114  exists
Series  CUUR0350SAF116  exists
Series  CUUR0350SAA  exists
Series  CUUR0350SAEC  exists
Series  CUUR0350SAR  exists
Series  CUUR0350SEHA  exists
Series  CUUR0230SAF112  exists
Series  CUUR0230SAF113  exists
Series  CUUR0230SAF114  exists
Series  CUUR0230SAF116  exists
Series  CUUR0230SAA  exists
Series  CUUR0230SAEC  exists
Series  CUUR0230SAR  exists
Series  CUUR0230SEHA  exists

In [5]:
myData

,year,period,CUUR0000SA0,CUUR0120SAF112,CUUR0120SAF113,CUUR0120SAF114,CUUR0120SAF116,CUUR0120SAA,CUUR0120SAEC,CUUR0120SAR,...,CUUR0350SAR,CUUR0350SEHA,CUUR0230SAF112,CUUR0230SAF113,CUUR0230SAF114,CUUR0230SAF116,CUUR0230SAA,CUUR0230SAEC,CUUR0230SAR,CUUR0230SEHA
0,2022,M01,281.148,117.932,106.205,111.391,106.224,103.448,92.385,108.413,...,109.008,116.593,118.446,109.846,117.300,107.522,97.463,81.980,107.336,113.897
1,2021,M12,278.802,117.333,105.119,110.610,105.595,99.879,92.443,107.622,...,107.876,115.661,116.699,106.902,114.660,107.316,93.126,83.752,105.956,113.350
2,2021,M11,277.948,117.728,103.786,109.201,106.806,101.793,94.159,108.348,...,107.879,114.998,116.767,104.982,112.294,106.244,93.879,84.673,104.813,113.016
3,2021,M10,276.589,116.065,103.012,109.950,106.655,104.075,95.657,107.722,...,110.031,114.437,116.139,105.099,113.361,106.035,97.652,85.230,104.663,112.467
4,2021,M09,274.310,114.539,103.638,109.178,107.044,105.666,95.763,106.861,...,109.156,113.669,115.183,102.856,112.352,107.201,95.849,84.172,103.557,112.094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,2017,M05,244.733,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,2017,M04,244.524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,2017,M03,243.801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,2017,M02,243.603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,2017,M01,242.839,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 3 Downloading the data
### 3.1 Refine the basket
First, verify that the series you created in the previous section exist in the BLS’ API. If some items do not exist, take them out and re-weight. If a certain location produces all the missing series, replace that location with a bigger or more general location.
After you made all the changes and adjustments, state the final basket and the weights for each item in the basket. Table format will be great here.

### 3.2 Downloading
Make an API call to download the data for the basket you created. I ask that you have data for the last 5 years: January 2017 to January 2022. Make sure your API call retrieves data for this range.
    Include the general CPI (CUUR0000SA0) in your API call.
    Question: Are all the series you downloaded in a monthly frequency? If not, how can you fix that (i.e. interpolate).

## 4 Aggregating
Compute your version of the CPI based on the weights in 2.3.

## 5 Inflation
Compute the 12-month inflation for several lags based on your CPI and compare it with inflation based on the general CPI. Compare and discuss the results.
Bonus: Put both on one graph and make sure the two lines are clearly labeled as well as the axes.

## 6 Format
The group project should be in a Jupyter notebook that includes the an- swers and analysis listed above. I’m not looking for anything fancy but the following guidelines should be followed:
- Markdown should be used to create titles and to write your verbal answers to the questions.
- The names of the group members should appear at the top of the notebook.
- All variables and functions should have meaningful names (I know this is a subjective term).
- All code should be clearly and meaningfully commented, especially functions!

## 7 Grading Criteria
The project overall will be taken into account when a grade is determined. The following elements will be taken into account (including but not limited to...)
- How well explained is the process of constructing the index,
- Solving data problems (e.g. missing series, series which are not in a monthly frequency),
- Documenting the code in a clear way,
- The overall organization of the notebook,
- The discussion following the results on inflation.